{% extends 'pages/base.html' %}
{% block title %}{{ t('meeting_room') }}{% endblock %}
{% block body_class %}room-page{% endblock %}
{% block shell_class %}room-shell{% endblock %}
{% block head %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/framework7@8/framework7-bundle.min.css" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/room.css', v=asset_version('css/room.css')) }}" />
{% endblock %}

{% block content %}
{% include 'partials/_room_layout.html' %}
{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/framework7@8/framework7-bundle.min.js"></script>
{% include 'partials/_room_scripts.html' %}
{% endblock %}
